@charset "UTF-8";
@import "mixins";

.popup {
	form {
		margin:0;
		padding:0;
	}
}
.lgmembersweek {
	.tab__panel {
		.tab__noti {
			max-width: 1200px;
			margin: 0 auto 40px;
		}
	}
	// visual
	.visual {
		&__slide {
			.section__title {
				font-size: 48px;
				line-height: 50px;
				.break--mobile {
					letter-spacing: -2.8px;
				}
			}
			&--intro {
				.section__inner {
					background-image: url('../images/br/bg_visual_intro_obj.png');
				}
			}
			&--greenlife {
				.section__inner {
					background-image: url('../images/br/bg_visual_greenlife_obj.png');
				}
			}
			&--vividlife {
				.section__inner {
					background-image: url('../images/br/bg_visual_vividlife_obj.png');
				}
			}
			&--gaminglife {
				.section__inner {
					background-image: url('../images/br/bg_visual_gaminglife_obj.png');
				}
			}
			&--workinglife {
				.section__inner {
					background-image: url('../images/br/bg_visual_workinglife_obj.png');
				}
			}
			&--soundfullife {
				.section__inner {
					background-image: url('../images/br/bg_visual_soundfullife_obj.png');
				}
			} 
		}
		@media (max-width: 767px)  {
			&__slide {
				&--intro {
					.section__inner {
						background-image: url('../images/br/m_bg_visual_intro_obj.png');
					}
				}
				&--greenlife {
					.section__inner {
						background-image: url('../images/br/m_bg_visual_greenlife_obj.png');
					}
				}
				&--vividlife {
					.section__inner {
						background-image: url('../images/br/m_bg_visual_vividlife_obj.png');
					}
				}
				&--gaminglife {
					.section__inner {
						background-image: url('../images/br/m_bg_visual_gaminglife_obj.png');
					}
				}
				&--workinglife {
					.section__inner {
						background-image: url('../images/br/m_bg_visual_workinglife_obj.png');
					}
				}
				&--soundfullife {
					.section__inner {
						background-image: url('../images/br/m_bg_visual_soundfullife_obj.png');
					}
				}
				.section__title {
					font-size: 48px;
					line-height: 50px;
				}
			}
		}
	}

	// coupon
	.coupon {
		&__process {
			> .coupon__group {
				padding-top: 54px;
			}
			.coupon__order {
				> li {
					position: relative;
					&:not(:nth-child(2)) {
						.coupon__text {
							margin-top: 10px;
						}
					}
				}
				.coupon__text {
					top: -54px;
				}
			}
		}
		@media (max-width: 767px) {
			&__process {
				> .coupon__group {
					padding-left: 44px;
					&:before {
						left: 31px;
					}
				}
				.coupon__build {
					width: 100px;
					text-align: right;
				}
				.coupon__order {
					> li {
						&:not(:nth-child(2)) {
							.coupon__text {
								margin-top: 0;
							}
						}
						&:nth-child(2) {
							align-items: baseline;
						}
					}
				}
			}
		}

		&__back {
			height: 100%;
			background-color: transparent;
			.product {
				height: 100%;
				.product__info {
					padding-bottom: 125%;
					@media (max-width: 767px) {
						padding-bottom: 160%;
					}
				}
				.coupon__ico {
					position: absolute;
					left: 52%;
					bottom: 21%;
					@include translate(-50%, 0);
				}
			}
		}
	}

	// benefit
	.benefit {
		&__list {
			&--coupon {
				.benefit__item {
					@for $i from 1 through 4 {
						&:nth-child(#{ $i }) {
							> .benefit__inner {
								&:after {
									background-image: url('../images/br/ico_benefit_list0#{$i}.png');
								}
							}
						}	
					}
				}
				.benefit__category {
					font-size:21px;
					.benefit__sub {
						display: block;
						margin-top: 6px;
						font-size: 12px;
						line-height: 16px;
						text-decoration: none;
					}
				}
			}
		}
	}
  
	// product
	.product {
		&__showroom {
			&--greenlife {
				.product__slide {
					@for $i from 1 through 2 {
						&:nth-child(#{ $i }) {
							background-image: url('../images/br/bg_product_showroom_greenlife0#{$i}.png');
						}
					}
					&:nth-child(1) {
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						.product__layer {
							&:nth-child(1) {
								left: 59.38%;
								top: 40.24%;
								.product__target {
									left: 32px;
									top: -49px;
									margin-left: 0;
									padding-left: 20px;
									&:before {
										left: 10px;
										top: 46px;
										right: auto;
										margin-left: 0;
										margin-top: 0;
										border-left: 0;
										border-right: 20px solid #fff;
									}
								}
							}
						}
					}
				}
			}
			&--vividlife {
				.product__slide {
					@for $i from 1 through 2 {
						&:nth-child(#{ $i }) {
							background-image: url('../images/br/bg_product_showroom_vividlife0#{$i}.png');
						}
					}
					&:nth-child(1) {
						.product__layer {
							&:nth-child(2) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
			&--gaminglife {
				.product__slide {
					&:nth-child(1) {
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
							&:nth-child(2) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						background-image: url('../images/br/bg_product_showroom_gaminglife02.png');
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
			&--workinglife {
				.product__slide {
					&:nth-child(1) {
						background-image: url('../images/br/bg_product_showroom_workinglife01.png');
						.product__layer {
							&:nth-child(3) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
							&:nth-child(4) {
								left: 24.38%;
								top: 32.2%;
								.product__target {
									left: auto;
									right: 32px;
									top: -46px;
									margin-left: 0;
									padding-right: 20px;
									&:before {
										left: auto;
										right: 10px;
										top: 46px;
										margin-right: 0;
										margin-top: 0;
										border-right: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-left: 20px solid #fff;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
			&--soundfullife {
				.product__slide {
					&:nth-child(1) {
						background-image: url('../images/br/bg_product_showroom_soundfullife01.png');
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
		}
		@media (max-width: 767px) {
		&__showroom {
			&--greenlife {
				.product__slide {
					@for $i from 1 through 2 {
						&:nth-child(#{ $i }) {
							background-image: url('../images/br/m_bg_product_showroom_greenlife0#{$i}.png');
						}
					}
				}
			}
			&--vividlife {
				.product__slide {
					@for $i from 1 through 2 {
						&:nth-child(#{ $i }) {
							background-image: url('../images/br/m_bg_product_showroom_vividlife0#{$i}.png');
						}
					}
				}
			}
			&--gaminglife {
				.product__slide {
					&:nth-child(2) {
						background-image: url('../images/br/m_bg_product_showroom_gaminglife02.png');
					}
				}
			}
			&--workinglife {
				.product__slide {
					&:nth-child(1) {
						background-image: url('../images/br/m_bg_product_showroom_workinglife01.png');
					}
				}
			}
		}
	}
	}

	// terms
	.terms {
		&__visual {
			max-width: 1440px;
			margin: 0 auto;
			text-align: center;
			.terms__box {
				position: relative;
				padding-top: 40.28%;
				background: {
					image: url('../images/br/bg_visual_terms.png');
					repeat: no-repeat;
					position: 0 0;
					size: 100% 100%;
				};
			}
			.terms__obj {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				padding-top: 4.17%;
			}
			.section__title {
				font-size: 80px;
				line-height: 100px;
			}
		}
		&__container {
			max-width: 1200px;
			margin: 0 auto;
			padding-top: 80px;
		}
		&__title {
			font-weight: 700;
			font-size: 50px;
			line-height: 60px;
			text-align: center;
			&:not(:first-child) {
				margin-top: 80px;
			}
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
		&__desc {
			font-size: 20px;
			line-height: 24px;
		}
		&__link {
			color: #A50034;
			font-size: 20px;
			line-height: 24px;
			text-decoration: underline;
		}
		&__round {
			&:not(:first-child) {
				margin-top: 40px;
			}
			.button {
				&:not(:first-child) {
					margin-top: 52px;
				}
			}
			.button__item {
				height: 60px;
				font-size: 20px;
				line-height: 24px;
			}
			.terms__list {
				display: flex;
			}
			.terms__item {
				flex: 1;
				border: 1px solid #E0E0E0;
				border-radius: 30px;
				box-shadow: 4px 6px 12px rgba(0,0,0,.08);
				&:not(:first-child) {
					margin-left: 30px;
				}
				> .terms__inner {
					padding: 60px 30px 40px;
					text-align: center;
				}
			}
			.terms__title {
				margin-left: -30px;
				margin-right: -30px;
				font-size: 30px;
				line-height: 42px;
			}
			.terms__link {
				display: inline-flex;
				margin-top: 40px;
			}
		}
		&__rectangle {
			&:not(:first-child) {
				margin-top: 60px;
			}
			.terms__item {
				padding: 30px;
				background-color: #F5F4F6;
				.terms__desc {
					text-align: center;
				}
			}
		}
		&__message {
			&:not(:first-child) {
				margin-top: 100px;
			}
			.terms__item {
				text-align: center;
			}
			.terms__ico {
				margin-bottom: 30px;
				i {
					display: block;
					width: 72px;
					height: 82px;
					margin: 0 auto;
					background: {
						image: url('../images/br/ico_noti.png');
						repeat: no-repeat;
						position: 0 0;
						size: 100% 100%;
					};
				}
			}
			.terms__desc {
				font-size: 30px;
				line-height: 36px;
			}
		}
		@media (max-width: 1400px) {
			&__visual {
				.section__title {
					font-size: 60px;
					line-height: 80px;
				}
			}
		}
		@media (max-width: 767px) {
			&__visual {
				.terms__box {
					padding-top: 80%;
				}
				.terms__obj {
					background: {
						image: url('../images/br/m_bg_visual_terms.png');
						size: cover;
					};
				}
				.section__title {
					font-size: 42px;
					line-height: 50px;
				}
			}
			&__container {
				padding-top: 50px;
			}
			&__title {
				font-size: 30px;
				line-height: 40px;
				&:not(:first-child) {
					margin-top: 50px;
				}
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
			&__desc {
				font-size: 16px;
				line-height: 20px;
			}
			&__link {
				font-size: 16px;
				line-height: 20px;
			}
			&__round {
				&:not(:first-child) {
					margin-top: 20px;
				}
				.button {
					&:not(:first-child) {
						margin-top: 30px;
					}
				}
				.button__item {
					height: 50px;
					padding: 0 30px;
					font-size: 18px;
					line-height: 24px;
				}
				.terms__list {
					display: block;
				}
				.terms__item {
					border-radius: 14px;
					&:not(:first-child) {
						margin-left: 0;
						margin-top: 10px;
					}
					> .terms__inner {
						padding: 30px;
					}
				}
				.terms__title {
					font-size: 20px;
					line-height: 32px;
					&:not(:last-child) {
						margin-bottom: 16px;
					}
				}
				.terms__link {
					margin-top: 14px;
				}
			}
			&__rectangle {
				&:not(:first-child) {
					margin-top: 40px;
				}
				.terms__item {
					padding: 20px;
				}
			}
			&__message {
				&:not(:first-child) {
					margin-top: 60px;
				}
				.terms__ico {
					margin-bottom: 16px;
					i {
						width: 40px;
						height: 45px;
						background: {
							image: url('../images/br/m_ico_noti.png');
						};
					}
				}
				.terms__desc {
					font-size: 16px;
					line-height: 20px;
				}
			}
		}
	}
}