@charset "UTF-8";
@import "mixins";

// popup
.popup {
	display: none;
	p {
		margin: 0;
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		background-color: rgba(0,0,0,.2);
	}
	&__body {
		max-width: 360px;
		border-radius: 30px;
		background-color: #fff;
	}
	&__contents {
		padding: 45px 40px;
		text-align: center;
		.popup__text {
			font-size: 20px;
			line-height: 24px;
		}
		.popup__bold {
			font-weight: 700;
		}
	}
	&__bottom {
		display: flex;
		border-top: 1px solid #E0E0E0;
	}
	&__button {
		flex: 1;
		height: 60px;
		border: 0;
		background: none;
		color: #A50034;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		cursor: pointer;
	}
	@media (max-width: 767px) {
		&__body {
			max-width: none;
			margin: 0 5.13vw;
		}
	}
}

.lgmembersweek {
	color: #000;
	figure {
		margin: 0;
	}
	p {
		margin: 0;
	}

	// section
	.section {
		&__container {
			position: relative;
			padding: 5.21vw 0 6.25vw;
			&--lightgray {
				background-color: #F5F4F6;
			}
			&--black {
				background-color: #1D1D1B;
				color: #fff;
				.section__footer {
					margin-bottom: -2.08vw;
					.section__text {
						.symbol {
							color: #BEF860;
						}
					}
				}
			}
			&--toplow {
				padding-top: 4.17vw;
			}
			&--bottomlow {
				padding-bottom: 4.17vw;
			}
		}
		&__inner {
			max-width: 1600px;
			margin: 0 auto;
			@media (max-width: 1600px) {
				padding: 0 1.25vw;
			}
		}
		&__header {
			text-align: center;
		}
		&__title {
			font-weight: 700;
			font-size: 60px;
			line-height: 60px;
			&:not(:first-child) {
				margin-top: 20px;
			}
		}
		&__sub {
			font-weight: 600;
			font-size: 30px;
			line-height: 36px;
			&:not(:first-child) {
				margin-top: 20px;
			}
			&--small {
				font-size: 24px;
				line-height: 32px;
			}
		}
		&__desc {
			margin-top: 20px;
			font-size: 20px;
			line-height: 24px;
			& + .section__desc {
				margin-top: 16px;
			}
			.section__mark {
				color: #A50034;
				font-weight: 700;
			}
		}
		&__footer {
			margin-top: 40px;
			margin-bottom: -4.17vw;
			text-align: right;
			.section__text {
				font-size: 16px;
				line-height: 22px;
			}
		}
		@media (max-width: 767px) {
			&__container {
				padding: 12.82vw 0;
				&--black {
					.section__footer {
						margin-bottom: -5.13vw;
					}
				}
				&--toplow {
					padding-top: 10.26vw;
				}
			}
			&__inner {
				padding: 0 5.13vw;
			}
			&__title {
				font-size: 40px;
				line-height: 40px;
				&:not(:first-child) {
					margin-top: 10px;
				}
			}
			&__sub {
				font-size: 22px;
				line-height: 24px;
				&:not(:first-child) {
					margin-top: 10px;
				}
				&--small {
					font-size: 16px;
					line-height: 20px;
				}
			}
			&__desc {
				margin-top: 16px;
				font-size: 16px;
				line-height: 22px;
				& + .section__desc {
					margin-top: 10px;
				}
			}
			&__footer {
				margin-top: 30px;
				margin-bottom: -5.13vw;
				text-align: center;
			}
		}
	}

	// visual
	.visual {
		position: relative;
		&__swiper {
			.slick-prev {
				left: 2.08%;
			}
			.slick-next {
				right: 2.08%;
			}
			.slick-dots {
				bottom: 3.33%;
				li {
					&.slick-active {
						button {
							background-color: #000;
						}
					}
					button {
						border: 1px solid #000;
						background-color: transparent;
					}
				}
			}
		}
		&__slide {
			position: relative;
			max-height: 900px;
			background-repeat: no-repeat;
			// background-position: 50% 50%;
			background-position: 50% bottom;
			background-size: 100% 100%;
			.section__inner {
				height: 46.88vw;
				padding-top: 4.17vw;
				// padding-top: 5.21vw;
				background-repeat: no-repeat;
				// background-position: 50% 50%;
				background-position: 50% 0;
				// background-size: cover;
				background-size: contain;
			}
			.section__title {
				font-size: 74px;
				line-height: 76px;
			}
			.section__desc {
				font-weight: 600;
			}
			.button {
				position: absolute;
				left: 0;
				bottom: 8%;
				width: 100%;
				&__item {
					height: 50px;
					padding: 0 40px;
					border-radius: 45px;
					font-size: 18px;
					line-height: 24px;
				}
			}
			&--intro {
				background-image: url('../images/bg_visual_intro.png');
				.section__inner {
					// padding-top: 4.17vw;
					background-image: url('../images/bg_visual_intro_obj.png');
				}
				.section__title {
					font-size: 100px;
					line-height: 100px;
				}
				.section__sub {
					margin-top: 10px;
					font-weight: 700;
					font-size: 40px;
					line-height: 30px;
				}
				.section__desc {
					font-size: 26px;
					line-height: 32px;
				}
			}
			&--greenlife {
				background-image: url('../images/bg_visual_greenlife.png');
				.section__inner {
					background-image: url('../images/bg_visual_greenlife_obj.png');
				}
			}
			&--vividlife {
				background-image: url('../images/bg_visual_vividlife.png');
				.section__inner {
					background-image: url('../images/bg_visual_vividlife_obj.png');
				}
			}
			&--gaminglife {
				background-image: url('../images/bg_visual_gaminglife.png');
				.section__inner {
					background-image: url('../images/bg_visual_gaminglife_obj.png');
				}
			}
			&--workinglife {
				background-image: url('../images/bg_visual_workinglife.png');
				.section__inner {
					background-image: url('../images/bg_visual_workinglife_obj.png');
				}
			}
			&--soundfullife {
				background-image: url('../images/bg_visual_soundfullife.png');
				.section__inner {
					background-image: url('../images/bg_visual_soundfullife_obj.png');
				}
			}
		}
		&__terms {
			position: absolute;
			right: 8.33%;
			bottom: 3.33%;
			z-index: 10;
			.visual__link {
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				&:hover {
					text-decoration: none;
				}
			}
			.visual__arrow {
				margin-left: 10px;
				@include iconAngle($direction: 'right', $width: 8px, $height: 20px, $thick: 2px, $color: #000, $display: block, $position: relative);
			}
		}
		@media (max-width: 767px)  {
			&__swiper {
				.slick-dots {
					bottom: 5.36%;
				}
				.button {
					bottom: 10.36%;
				}
			}
			&__slide {
				background-image: none;
				.section__inner {
					height: 148.72vw;
					padding-top: 10.26vw;
					background-size: cover;
				}
				.section__title {
					font-size: 36px;
					line-height: 46px;
					span {
						margin: 6px 0 2px;
						display: block;
						font-size: 50px;
					}
				}
				.section__sub {
					font-size: 20px;
					line-height: 22px;
				}
				.section__desc {
					font-size: 20px;
					line-height: 22px;
				}
				&--intro {
					.section__inner {
						background-image: url('../images/m_bg_visual_intro.png');
					}
					.section__title {
						font-size: 48px;
						line-height: 50px;
						letter-spacing: -2.6px;
					}
					.section__sub {
						font-size: 22px;
						line-height: 24px;
						letter-spacing: -0.96px;
					}
					.section__desc {
						font-size: 16px;
						line-height: 20px;
					}
				}
				&--greenlife {
					.section__inner {
						background-image: url('../images/m_bg_visual_greenlife.png');
					}
				}
				&--vividlife {
					.section__inner {
						background-image: url('../images/m_bg_visual_vividlife.png');
					}
					.section__sub {
						letter-spacing: -0.96px;
					}
				}
				&--gaminglife {
					.section__inner {
						background-image: url('../images/m_bg_visual_gaminglife.png');
					}
				}
				&--workinglife {
					.section__inner {
						background-image: url('../images/m_bg_visual_workinglife.png');
					}
				}
				&--soundfullife {
					.section__inner {
						background-image: url('../images/m_bg_visual_soundfullife.png');
					}
				}
			}
			&__terms {
				left: 50%;
				right: auto;
				bottom: 22.07%;
				@include translate(-50%, 0);
				.visual__link {
					font-size: 18px;
				}
			}
		}
		@media (max-width: 1400px) and (min-width: 768px) {
			&__swiper {
				.slick-dots {
					bottom: 22px;
				}
				.button {
					bottom: 52px;
				}
			}
			&__slide {
				max-height: 656px;
				.section__inner {
					padding-top: 3.71vw;
				}
				.section__title {
					font-size: 60px;
					line-height: 60px;
				}
				.section__sub {
					font-size: 20px;
					line-height: 30px;
				}
				.section__desc {
					font-size: 16px;
					line-height: 22px;
				}
			}
			&__terms {
				bottom: 22px;
				.visual__link {
					font-size: 14px;
					line-height: 17px;
				}
				.visual__arrow {
					@include iconAngle($direction: 'right', $width: 8px, $height: 16px, $thick: 2px, $color: #000, $display: block, $position: relative);
				}
			}
		}
	}

	// coupon
	.coupon {
		.button {
			&:not(:first-child) {
				margin-top: 80px;
			}
			&__item {
				width: 160px;
				height: 60px;
				&:not(:first-child) {
					margin-left: 10px;
				}
			}
		}
		&:not(:first-child) {
			margin-top: 60px;
		}
		&__process {
			text-align: center;
			> .coupon__group {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				position: relative;
				padding-top: 26px;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: 14px;
					width: 100%;
					height: 2px;
					background: linear-gradient(to right, transparent 50%, #000 50%);
					background-size: 6px 2px;
				}
			}
			.coupon__build {
				display: block;
				position: relative;
				font-weight: 700;
				font-size: 16px;
				line-height: 16px;
				background-color: #F5F4F6;
				white-space: nowrap;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					width: 10px;
					height: 10px;
					margin-top: -5px;
					border-radius: 50%;
					background-color: #7E7E7E;
				}
				&:first-child {
					padding-right: 20px;
					&:before {
						right: 0;
					}
				}
				&:last-child {
					padding-left: 20px;
					&:before {
						left: 0;
					}
				}
			}
			.coupon__order {
				display: flex;
				justify-content: space-around;
				width: 612px;
				font-weight: 700;
				font-size: 16px;
				line-height: 16px;
				> li {
					position: relative;
				}
				.coupon__num {
					display: inline-flex;
					justify-content: center;
					align-items: center;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					background-color: #000;
					color: #fff;
					font-weight: 700;
					font-size: 16px;
					line-height: 16px;
					text-align: center;
				}
				.coupon__text {
					position: absolute;
					white-space: nowrap;
					left: 50%;
					top: -26px;
					@include translate(-50%, 0);
				}
			}
		}
		&__list {
			display: flex;
			&:not(:first-child) {
				margin-top: 80px;
			}
		}
		&__item {
			flex: 1;
			position: relative;
			border-radius: 30px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-color: #fff;
			box-shadow: 4px 6px 12px #00000014;
			&:not(:first-child) {
				margin-left: 1.92%;
			}
			&:focus,
			&:hover {
				.coupon__back {
					z-index: 5;
				}
			}
			&--greenlife {
				.coupon__thumnail {
					background-image: url('../images/bg_coupon_greenlife.png');
				}
			}
			&--vividlife {
				.coupon__thumnail {
					background-image: url('../images/bg_coupon_vividlife.png');
				}
			}
			&--gaminglife {
				.coupon__thumnail {
					background-image: url('../images/bg_coupon_gaminglife.png');
				}
			}
			&--workinglife {
				.coupon__thumnail {
					background-image: url('../images/bg_coupon_workinglife.png');
				}
			}
			&--soundfullife {
				.coupon__thumnail {
					background-image: url('../images/bg_coupon_soundfullife.png');
				}
			}
			input[type="radio"] {
				&:checked {
					& + .coupon__back {
						z-index: 5;
						&:before {
							display: block;
						}
						.coupon__ico {
							background-color: #000;
						}
					}
				}
			}
		}
		&__front {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 30px;
			.coupon__thumnail {
				display: block;
				position: relative;
				z-index: 1;
				height: 74.54%;
				border-radius: 32px 32px 0 0;
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: cover;
			}
			.coupon__category {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 25.46%;
				font-weight: 600;
				font-size: 30px;
				line-height: 30px;
				text-align: center;
			}
		}
		&__back {
			display: block;
			position: relative;
			z-index: -1;
			margin: 0;
			padding: 16.89% 6.76% 13.51%;
			background-color: #fff;
			border-radius: 30px;
			cursor: pointer;
			&:before {
				content: '';
				display: none;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border-radius: 30px;
				border: 2px solid #000;
			}
			.product {
				display: block;
				&__img {
					display: block;
					padding: 0 10.94%;
				}
				&__info {
					display: block;
				}
				&__category {
					display: block;
					margin-bottom: 4px;
					color: #999;
					font-weight: 600;
					font-size: 20px;
					line-height: 24px;
				}
				&__name {
					height: auto;
					font-size: 24px;
					line-height: 32px;
					@include ellipse(1);
				}
			}
			.coupon__ico {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				margin-top: 40px;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				background-color: #E0E0E0;
			}
		}
		@media (max-width: 767px) {
			.button {
				&:not(:first-child) {
					margin-top: 40px;
				}
				&__item {
					flex: 1;
					width: auto;
					height: 50px;
					font-size: 18px;
					line-height: 24px;
				}
			}
			&:not(:first-child) {
				margin-top: 40px;
			}
			&__process {
				> .coupon__group {
					padding-top: 0;
					padding-left: 62px;
					&:before {
						left: 45px;
						top: 2px;
						bottom: 2px;
						width: 2px;
						height: auto;
						z-index: 1;
						background: linear-gradient(to bottom, transparent 50%, #000 50%);
						background-size: 2px 6px;
					}
				}
				.coupon__build {
					position: absolute;
					left: 0;
					width: 50px;
					&:before {
						z-index: 2;
						width: 8px;
						height: 8px;
						margin-top: -4px;
					}
					&:first-child {
						top: 0;
						padding-right: 14px;
					}
					&:last-child {
						bottom: 0;
						padding-left: 0;
						padding-right: 14px;
						&:before {
							left: auto;
							right: 0;
						}
					}
				}
				.coupon__order {
					display: block;
					width: auto;
					text-align: left;
					> li {
						display: flex;
						align-items: center;
						&:not(:first-child) {
							margin-top: 18px;
						}
					}
					.coupon__num {
						width: 16px;
						height: 16px;
						font-size: 12px;
						line-height: 22px;
					}
					.coupon__text {
						position: static;
						margin-left: 10px;
						@include translate(0, 0);
					}
				}
			}
			&__list {
				flex-wrap: wrap;
				margin-bottom: -2.56vw;
				&:not(:first-child) {
					margin-top: 40px;
				}
			}
			&__item {
				flex: none;
				width: calc(50% - 1.28vw);
				margin-bottom: 2.56vw;
				border-radius: 15px;
				box-shadow: 2px 4px 6px #00000014;
				&:nth-child(odd) {
					margin-right: 1.28vw;
				}
				&:nth-child(even) {
					margin-left: 1.28vw;
				}
				&:nth-child(2n+1) {
					margin-left: 0;
				}
				&--greenlife {
					.coupon__thumnail {
						background-image: url('../images/m_bg_coupon_greenlife.png');
					}
				}
				&--vividlife {
					.coupon__thumnail {
						background-image: url('../images/m_bg_coupon_vividlife.png');
					}
				}
				&--gaminglife {
					.coupon__thumnail {
						background-image: url('../images/m_bg_coupon_gaminglife.png');
					}
				}
				&--workinglife {
					.coupon__thumnail {
						background-image: url('../images/m_bg_coupon_workinglife.png');
					}
				}
				&--soundfullife {
					.coupon__thumnail {
						background-image: url('../images/m_bg_coupon_soundfullife.png');
					}
				}
			}
			&__front {
				border-radius: 15px;
				.coupon__thumnail {
					border-radius: 15px 15px 0 0;
				}
				.coupon__category {
					font-size: 20px;
					line-height: 17px;
				}
			}
			&__back {
				padding: 20px;
				border-radius: 15px;
				&:before {
					border-radius: 15px;
				}
				.product {
					&__img {
						padding: 0;
					}
					&__info {
						margin-top: 0;
					}
					&__category {
						margin-bottom: 0;
						font-size: 16px;
						line-height: 20px;
					}
					&__name {
						font-size: 16px;
						line-height: 20px;
					}
				}
				.coupon__ico {
					margin-top: 17px;
					width: 26px;
					height: 26px;
					svg {
						width: 9.29px;
						height: 6.08px;
					}
				}
			}
		}
	}

	// product
	.product {
		.button {
			&__item {
				flex: 1;
			}
		}
		> .button {
			&:not(:first-child) {
				margin-top: 80px;
			}
			.button__item {
				max-width: 380px;
				height: 80px;
				padding: 0;
				border-radius: 40px;
				font-size: 20px;
				line-height: 24px;
				&:not(:first-child) {
					margin-left: 20px;
				}
			}
		}
		.learn-more {
			&:not(:first-child) {
				margin-top: 20px;
			}
		}
		&--hotdeal {
			&:not(:first-child) {
				margin-top: 60px;
			}
			.product__list {
				flex-wrap: nowrap;
				justify-content: center;
				margin: 0;
				.slick-track {
					display: flex;
					justify-content: center;
					margin: 0 auto;
					align-items: center;
				}
			}
			.product__item {
				width: auto;
				max-width: 272px;
				margin: 0 3.13vw;
				padding: 0;
				border-radius: 0;
				background-color: transparent;
			}
			.product__flags {
				left: 0;
				top: 30px;
			}
			.product__img {
				position: relative;
				width: 100%;
				height: 262px;
				text-align: center;
				img {
					position: absolute;
					bottom: 0;
					left: 50%;
					@include translate(-50%, 45px);
				}
			}
			.hotdeal_bg {
				position: absolute;
				left: 8px;
				top: 0;
				z-index: -1;
				width: 100%;
				height: 262px;
				background: {
					image: url('../images/hotdeal_bg01.png');
					position: center top;
					size: cover;
					repeat: no-repeat;
				};
				&.hotdeal_soldout {
					background-image: url('../images/hotdeal_bg02.png');
				}
			}
			.product__info {
				margin-top: 40px;
			}
			.product__name {
				height: auto;
				@include ellipse(1);
			}
		}
		&__showroom {
			.product__slide {
				position: relative;
				height: 0;
				padding-top: 25.625%;
				border-radius: 30px;
				background-repeat: no-repeat;
				// background-position: 50% 50%;
				background-size: 100% 100%;
			}
			&--greenlife {
				.product__slide {
					@for $i from 1 through 2 {
						&:nth-child(#{ $i }) {
							background-image: url('../images/bg_product_showroom_greenlife0#{$i}.png');
						}
					}
					&:nth-child(1) {
						.product__layer {
							&:nth-child(1) {
								left: 60.63%;
								top: 14.63%;
								.product__target {
									left: 32px;
									top: -49px;
									margin-left: 0;
									padding-left: 20px;
									&:before {
										left: 10px;
										top: 50%;
										margin-left: 0;
										margin-top: -15px;
										border-left: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-right: 20px solid #fff;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						.product__layer {
							&:nth-child(1) {
								left: 38.13%;
								top: 36.59%;
								.product__target {
									left: auto;
									right: 32px;
									top: -49px;
									margin-left: 0;
									padding-right: 20px;
									&:before {
										left: auto;
										right: 10px;
										top: 50%;
										margin-right: 0;
										margin-top: -15px;
										border-right: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-left: 20px solid #fff;
									}
								}
							}
							&:nth-child(2) {
								left: 73.13%;
								top: 19.51%;
								.product__target {
									left: 32px;
									top: -49px;
									margin-left: 0;
									padding-left: 20px;
									&:before {
										left: 10px;
										top: 50%;
										margin-left: 0;
										margin-top: -15px;
										border-left: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-right: 20px solid #fff;
									}
								}
							}
						}
					}
				}
			}
			&--vividlife {
				.product__slide {
					@for $i from 1 through 2 {
						&:nth-child(#{ $i }) {
							background-image: url('../images/bg_product_showroom_vividlife0#{ $i }.png');
						}
					}
					&:nth-child(1) {
						.product__layer {
							&:nth-child(1) {
								left: 30%;
								top: 46.34%;
								.product__target {
									left: auto;
									right: 32px;
									top: -49px;
									margin-left: 0;
									padding-right: 20px;
									&:before {
										left: auto;
										right: 10px;
										top: 50%;
										margin-right: 0;
										margin-top: -15px;
										border-right: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-left: 20px solid #fff;
									}
								}
							}
							&:nth-child(2) {
								left: 53.75%;
								top: 10.98%;
								.product__target {
									left: 32px;
									top: -49px;
									margin-left: 0;
									padding-left: 20px;
									&:before {
										left: 10px;
										top: 50%;
										margin-left: 0;
										margin-top: -15px;
										border-left: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-right: 20px solid #fff;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						.product__layer {
							&:nth-child(1) {
								left: 81.88%;
								top: 43.9%;
								.product__target {
									top: 32px;
									padding-top: 20px;
									&:before {
										top: 10px;
										border-top: 0;
										border-bottom: 20px solid #fff;
									}
								}
							}
							&:nth-child(2) {
								left: 25.63%;
								top: 78.05%;
								.product__target {
									left: auto;
									right: 32px;
									top: -49px;
									margin-left: 0;
									padding-right: 20px;
									&:before {
										left: auto;
										right: 10px;
										top: 50%;
										margin-right: 0;
										margin-top: -15px;
										border-right: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-left: 20px solid #fff;
									}
								}
							}
						}
					}
				}
			}
			&--gaminglife {
				.product__slide {
					@for $i from 1 through 2 {
						&:nth-child(#{ $i }) {
							background-image: url('../images/bg_product_showroom_gaminglife0#{ $i }.png');
						}
					}
					&:nth-child(1) {
						.product__layer {
							&:nth-child(1) {
								left: 42.31%;
								top: 20%;
								.product__target {
									left: auto;
									right: 32px;
									top: -49px;
									margin-left: 0;
									padding-right: 20px;
									&:before {
										left: auto;
										right: 10px;
										top: 50%;
										margin-right: 0;
										margin-top: -15px;
										border-right: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-left: 20px solid #fff;
									}
								}
							}
							&:nth-child(2) {
								left: 56.88%;
								top: 59.76%;
								.product__target {
									left: 32px;
									top: -49px;
									margin-left: 0;
									padding-left: 20px;
									&:before {
										left: 10px;
										top: 50%;
										margin-left: 0;
										margin-top: -15px;
										border-left: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-right: 20px solid #fff;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						.product__layer {
							&:nth-child(1) {
								left: 58.81%;
								top: 14.63%;
								.product__target {
									left: auto;
									right: 32px;
									top: -49px;
									margin-left: 0;
									padding-right: 20px;
									&:before {
										left: auto;
										right: 10px;
										top: 50%;
										margin-right: 0;
										margin-top: -15px;
										border-right: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-left: 20px solid #fff;
									}
								}
							}
							&:nth-child(2) {
								left: 81.25%;
								top: 52.44%;
								.product__target {
									top: 32px;
									padding-top: 20px;
									&:before {
										top: 10px;
										border-top: 0;
										border-bottom: 20px solid #fff;
									}
								}
							}
						}
					}
				}
			}
			&--workinglife {
				.product__slide {
					@for $i from 1 through 2 {
						&:nth-child(#{ $i }) {
							background-image: url('../images/bg_product_showroom_workinglife0#{ $i }.png');
						}
					}
					&:nth-child(1) {
						.product__layer {
							&:nth-child(1) {
								left: 61.25%;
								top: 12.2%;
								.product__target {
									left: 32px;
									top: -49px;
									margin-left: 0;
									padding-left: 20px;
									&:before {
										left: 10px;
										top: 50%;
										margin-left: 0;
										margin-top: -15px;
										border-left: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-right: 20px solid #fff;
									}
								}
							}
							&:nth-child(2) {
								left: 81.88%;
								top: 53.66%;
								.product__target {
									bottom: 32px;
									padding-bottom: 20px;
									&:before {
										bottom: 10px;
									}
								}
							}
							&:nth-child(3) {
								left: 59.38%;
								top: 78.05%;
								.product__target {
									left: auto;
									right: 32px;
									top: -49px;
									margin-left: 0;
									padding-right: 20px;
									&:before {
										left: auto;
										right: 10px;
										top: 50%;
										margin-right: 0;
										margin-top: -15px;
										border-right: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-left: 20px solid #fff;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						.product__layer {
							&:nth-child(1) {
								left: 29.38%;
								top: 17.07%;
								.product__target {
									left: auto;
									right: 32px;
									top: -49px;
									margin-left: 0;
									padding-right: 20px;
									&:before {
										left: auto;
										right: 10px;
										top: 50%;
										margin-right: 0;
										margin-top: -15px;
										border-right: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-left: 20px solid #fff;
									}
								}
							}
							&:nth-child(2) {
								left: 67.5%;
								top: 56.1%;
								.product__target {
									left: 32px;
									top: -49px;
									margin-left: 0;
									padding-left: 20px;
									&:before {
										left: 10px;
										top: 50%;
										margin-left: 0;
										margin-top: -15px;
										border-left: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-right: 20px solid #fff;
									}
								}
							}
						}
					}
				}
			}
			&--soundfullife {
				.product__slide {
					@for $i from 1 through 2 {
						&:nth-child(#{ $i }) {
							background-image: url('../images/bg_product_showroom_soundfullife0#{ $i }.png');
						}
					}
					&:nth-child(1) {
						.product__layer {
							&:nth-child(1) {
								left: 46.25%;
								top: 32.93%;
								.product__target {
									left: 32px;
									top: -49px;
									margin-left: 0;
									padding-left: 20px;
									&:before {
										left: 10px;
										top: 50%;
										margin-left: 0;
										margin-top: -15px;
										border-left: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-right: 20px solid #fff;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						.product__layer {
							&:nth-child(1) {
								left: 25%;
								top: 40.24%;
								.product__target {
									left: 32px;
									top: -49px;
									margin-left: 0;
									padding-left: 20px;
									&:before {
										left: 10px;
										top: 50%;
										margin-left: 0;
										margin-top: -15px;
										border-left: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-right: 20px solid #fff;
									}
								}
							}
						}
					}
				}
			}
		}
		&__layer {
			position: absolute;
		}
		&__anchor {
			display: block;
			width: 32px;
			height: 32px;
			border: 2px solid #fff;
			border-radius: 50%;
			background-color: rgba(0,0,0,.3);
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				width: 12px;
				height: 12px;
				margin: -6px 0 0 -6px;
				border-radius: 50%;
				background-color: #fff;
			}
		}
		&__target {
			display: none;
			position: absolute;
			left: 50%;
			width: 340px;
			margin-left: -170px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				margin-left: -15px;
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				border-top: 20px solid #fff;
			}
			&--opened {
				display: block;
			}
			.product__link {
				display: flex;
				align-items: center;
				min-height: 130px;
				padding: 10px;
				border-radius: 10px;
				background-color: #fff;
				box-shadow: 2px 4px 20px rgba(0,0,0,.16);
				&:hover {
					text-decoration: none;
				}
			}
			.product__img {
				margin-right: 10px;
				img {
					max-width: 100px;
				}
			}
			.product__name {
				display: block;
				height: auto;
				font-size: 16px;
				line-height: 20px;
			}
			.product__desc {
				margin-top: 6px;
				font-size: 14px;
				line-height: 16px;
				li {
					position: relative;
					padding-left: 4px;
					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						top: 7px;
						width: 2px;
						height: 2px;
						border-radius: 50%;
						background-color: #000;
					}
					&:not(:first-child) {
						margin-top: 4px;
					}
				}
			}
		}
		&__track {
			max-width: 1367px;
			margin: 0 auto;
			&:not(:first-child) {
				margin-top: 40px;
			}
		}
		&__swiper {
			.product__slide {
				margin: 0 1.04vw;
			}
			.product__item {
				width: auto;
				margin: 0;
				padding: 0;
				border-radius: 0;
				background-color: transparent;
				.button {
					&:not(:first-child) {
						margin-top: 20px;
					}
				}
			}
			.product__name {
				font-size: 20px;
			}
			.product__sn {
				margin-top: 4px;
			}
			.slick-list {
				margin: 0 -1.04vw;
			}
			.slick-arrow {
				width: 60px;
				height: 60px;
				margin-top: -30px;
			}
			.slick-prev {
				left: -7.06%;
				background-image: url('../images/btn_product_swiper_prev.png');
			}
			.slick-next {
				right: -7.06%;
				background-image: url('../images/btn_product_swiper_next.png');
			}
			.product__img {
				img {
					border-radius: 28px;
					overflow: hidden;
				}
			}
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			margin: -2.56% 0 0 -2.56%;
		}
		&__item {
			flex: none;
			width: calc(100% / 4 - 2.56%);
			position: relative;
			padding: 20px 30px 30px;
			border-radius: 30px;
			background-color: #fff;
			margin: 2.56% 0 0 2.56%;
			.button {
				&:not(:first-child) {
					margin-top: 10px;
				}
			}
		}
		&__img {
			img {
				max-width: 100%;
			}
		}
		&__flags {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			position: absolute;
			top: 10px;
			left: -7px;
		}
		&__flag {
			display: flex;
			flex: 0 0 auto;
			justify-content: center;
			align-items: center;
			position: relative;
			height: 18px;
			padding: 0 9px;
			border-radius: 2px 2px 2px 0;
			background-color: #333;
			color: #fff;
			font-weight: 700;
			font-size: 13px;
			line-height: 15px;
			text-align: center;
			box-shadow: 2px 2px 2px 0 #0000001A;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: -8px;
				border-top: 8px solid #000;
				border-left: 8px solid transparent;
			}
			&:not(:first-child) {
				margin-top: 3px;
			}
		}
		&__info {
			margin-top: 20px;
			text-align: center;
			.product__highlight {
				color: #A50034;
				font-size: 16px;
				line-height: 22px;
			}
		}
		&__name {
			display: block;
			height: 47px;
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
			@include ellipse(2);
		}
		&__sn {
			margin-top: 6px;
			font-size: 16px;
			line-height: 22px;
		}
		&__price {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 10px;
		}
		&__price-now {
			justify-content: center;
			align-items: center;
		}
		&__cost {
			order: 1;
			font-weight: 700;
			font-size: 34px;
			line-height: 46px;
		}
		&__discount {
			margin-right: 4px;
			color: #999;
			font-size: 16px;
			line-height: 22px;
			text-decoration: line-through;
		}
		&__members {
			height: 54px;
			.product__text {
				font-size: 16px;
				line-height: 22px;
			}
			.product__noti {
				.product__text {
					font-size: inherit;
				}
			}
		}
		&__noti {
			margin-top: 4px;
			font-size: 16px;
			line-height: 20px;
			.product__text {
				display: inline-block;
				position: relative;
				padding-left: 22px;
				color: #A50034;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 50%;
					width: 16px;
					height: 16px;
					margin-top: -8px;
					background-image: url('../images/ico_info.png');
					background-repeat: no-repeat;
					background-position: 0 0;
					background-size: 100% 100%;
				}
			}
		}
		@media (max-width: 767px) {
			> .button {
				&:not(:first-child) {
					margin-top: 40px;
				}
				.button__item {
					height: auto;
					max-width: none;
					min-height: 50px;
					padding: 10px 15px;
					font-size: 18px;
					&:not(:first-child) {
						margin-left: 10px;
					}
				}
			}
			.learn-more {
				&:not(:first-child) {
					margin-top: 16px;
				}
			}
			&--hotdeal {
				&:not(:first-child) {
					margin-top: 40px;
				}
				.button__item {
					flex-basis: 140px;
					max-width: 140px;
				}
				.product__mask {
					margin: 0 -5.13vw;
				}
				.product__list {
					justify-content: flex-start;
					.slick-track {
						display: block;
					}
				}
				.product__item {
					// flex: none;
					// float: none;
					width: 272px;
					max-width: none;
					margin: 0 3.85vw;
					.button {
						&:not(:first-child) {
							margin-top: 6px;
						}
					}
				}
				.product__img {
					// width: 220px;
					// height: 220px;
					margin: 0 auto;
					img {
						max-width: 200px;
						@include translate(-50%, 30px);
					}
				}
				.hotdeal_bg {
					height: 262px;
				}
				.product__info {
					margin-top: 32px;
				}
				.product__sn {
					margin-top: 6px;
					font-size: 16px;
				}
				.product__cost {
					order: 1;
					width: auto;
					margin-left: 10px;
					margin-bottom: 0;
				}
				.product__discount {
					margin-right: 4px;
				}
			}
			&__showroom {
				.product__slide {
					height: 56.41vw;
					border-radius: 15px;
				}
				&--greenlife {
					.product__slide {
						@for $i from 1 through 2 {
							&:nth-child(#{ $i }) {
								background-image: url('../images/m_bg_product_showroom_greenlife0#{$i}.png');
							}
						}
						&:nth-child(1) {
							.product__layer {
								&:nth-child(1) {
									left: 26.88%;
									top: 54.88%;
									.product__target {
										bottom: 32px;
										padding-bottom: 20px;
										&:before {
											bottom: 10px;
										}
									}
								}
								&:nth-child(2) {
									left: 41.88%;
									top: 54.88%;
									.product__target {
										bottom: 32px;
										padding-bottom: 20px;
										&:before {
											bottom: 10px;
										}
									}
								}
								&:nth-child(3) {
									left: 80%;
									top: 13.18%;
									.product__target {
										right: -37px;
										top: 24px;
										padding-top: 14px;
										&:before {
											right: 34px;
											top: 4px;
										}
									}
								}
							}
						}
						&:nth-child(2) {
							.product__layer {
								&:nth-child(1) {
									left: 26.88%;
									top: 54.88%;
									.product__target {
										bottom: 32px;
										padding-bottom: 20px;
										&:before {
											bottom: 10px;
										}
									}
								}
								&:nth-child(2) {
									left: 41.88%;
									top: 54.88%;
									.product__target {
										bottom: 32px;
										padding-bottom: 20px;
										&:before {
											bottom: 10px;
										}
									}
								}
								&:nth-child(3) {
									left: 78.13%;
									top: 14.63%;
									.product__target {
										top: 32px;
										padding-top: 20px;
										&:before {
											top: 10px;
											border-top: 0;
											border-bottom: 20px solid #fff;
										}
									}
								}
							}
						}
					}
				}
			}
			&__anchor {
				display: none;
				// width: 24px;
				// height: 24px;
				// border-width: 1.5px;
				// &:before {
				// 	width: 8px;
				// 	height: 8px;
				// 	margin: -4px 0 0 -4px;
				// }
			}
			&__target {
				left: auto;
				width: 264px;
				margin-left: 0;
				&:before {
					left: auto;
					margin-left: 0;
				}
				.product__link {
					min-height: 80px;
				}
				.product__img {
					margin-right: 10px;
					img {
						max-width: 60px;
					}
				}
				.product__name {
					font-size: 14px;
					line-height: 18px;
				}
			}
			&__track {
				margin-left: -5.13vw;
				margin-right: -5.13vw;
				&:not(:first-child) {
					margin-top: 20px;
				}
			}
			&__swiper {
				.slick-list {
					margin: 0;
					padding: 0 3.08vw;
				}
				.product__slide {
					margin: 0 2.05vw;
				}
				.product__item {
					.button {
						&:not(:first-child) {
							margin-top: 12px;
						}
					}
				}
				.product__info {
					margin-top: 12px;
				}
				.product__name {
					height: 37px;
					font-size: 16px;
					@include ellipse(2);
				}
			}
			&__list {
				margin: -2.56vw 0 0 -2.56vw;
			}
			&__item {
				width: calc(50% - 2.56vw);
				margin: 2.56vw 0 0 2.56vw;
				padding: 15px 15px 25px;
			}
			&__flags {
				left: -5px;
				top: 4px;
			}
			&__flag {
				height: 16px;
				font-size: 10px;
				line-height: 13px;
				&:before {
					bottom: -7px;
					border-left-width: 5px;
					border-top-width: 7px;
				}
			}
			&__info {
				margin-top: 10px;
				.product__highlight {
					font-size: 14px;
				}
			}
			&__name {
				height: 55px;
				font-size: 16px;
				line-height: 18px;
				@include ellipse(3);
			}
			&__sn {
				margin-top: 4px;
				font-size: 14px;
			}
			&__cost {
				order: 0;
				width: 100%;
				margin-bottom: 2px;
				font-size: 26px;
				line-height: 29px;
				letter-spacing: -0.78px;
			}
			&__discount {
				margin-right: 0;
				font-size: 14px;
			}
			&__members {
				letter-spacing: -0.5px;
				.product__text {
					font-size: 14px;
				}
			}
		}
	}

	// benefit
	.benefit {
		&:not(:first-child) {
			margin-top: 60px;
		}
		&__list {
			display: flex;
			justify-content: center;
			&:not(:first-child) {
				margin-top: 40px;
			}
			&--discount {
				.benefit__item {
					&:not(:first-child) {
						margin-left: 4.32vw;
						&:before {
							content: '';
							display: block;
							position: absolute;
							top: 50%;
							width: 60px;
							height: 60px;
							margin-top: -30px;
							background-image: url('../images/bg_benefit_plus.png');
							background-repeat: no-repeat;
							background-position: 0 0;
							background-size: 100% 100%;
						}
					}
					&:nth-child(2) {
						&:before {
							left: -28px;
						}
					}
					&:last-child {
						&:before {
							left: -110px;
						}
					}
					> .benefit__inner {
						text-align: center;
					}
				}
			}
			&--coupon {
				.benefit__item {
					flex: 1 1 0%;
					max-width: 240px;
					margin: 0 1.04vw;
					color: #000;
					&:before,
					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						z-index: 1;
						width: 26px;
						height: 26px;
						margin-top: -13px;
						border-radius: 50%;
						background-color: #1D1D1B;
					}
					&:before {
						left: -13px;
					}
					&:after {
						right: -13px;
					}
					@for $i from 1 through 3 {
						&:nth-child(#{ $i }) {
							> .benefit__inner {
								&:after {
									background-image: url('../images/ico_benefit_list0#{$i}.png');
								}
							}
						}
					}
					> .benefit__inner {
						position: relative;
						height: 144px;
						border-radius: 14px;
						background-color: #fff;
						&:before,
						&:after {
							content: '';
							display: block;
							position: absolute;
						}
						&:before {
							left: 0;
							bottom: 0;
							width: 100%;
							height: 40px;
							border-radius: 0 0 14px 14px;
							background-color: #C4D7FF;
						}
						&:after {
							right: 21px;
							bottom: 11px;
							width: 63px;
							height: 62px;
							background-repeat: no-repeat;
							background-position: 0 0;
							background-size: 100% 100%;
						}
					}
				}
				.benefit__category {
					display: flex;
					align-items: center;
					height: 94px;
					padding: 0 20px;
					font-size: 24px;
					line-height: 26px;
				}
				// .benefit__text {
				// 	display: flex;
				// 	align-items: center;
				// 	height: 40px;
				// 	padding: 0 20px;
				// 	border-radius: 0 0 14px 14px;
				// 	font-weight: 600;
				// 	font-size: 14px;
				// 	line-height: 16px;
				// }
			}
		}
		&__item {
			position: relative;
		}
		&__category {
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			text-decoration: underline;
		}
		&__discount {
			margin-top: 20px;
			color: #BEF860;
			font-weight: 700;
			font-size: 100px;
			line-height: 116px;
			.benefit__text {
				display: block;
				margin-top: 10px;
				color: #fff;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
			}
		}
		&__condition {
			display: block;
			color: #BEF860;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
		}
		&__button {
			margin-top: 40px;
			text-align: center;
		}
		&__link {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			height: 40px;
			padding: 0 30px;
			border: 1px solid #fff;
			border-radius: 21px;
			color: inherit;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			&:hover {
				text-decoration: none;
			}
			.benefit__arrow {
				margin-left: 10px;
				@include iconAngle($direction: 'right', $width: 8px, $height: 20px, $thick: 2px, $color: #fff, $display: block, $position: relative);
			}
		}
		@media (max-width: 767px) {
			&:not(:first-child) {
				margin-top: 40px;
			}
			&__list {
				display: block;
				&:not(:first-child) {
					margin-top: 30px;
				}
				&--discount {
					.benefit__item {
						&:not(:first-child) {
							margin-left: 0;
							margin-top: 80px;
							&:before {
								left: 50%;
								top: -60px;
								width: 40px;
								height: 40px;
								margin: 0 0 0 -20px;
								background-image: url('../images/m_bg_benefit_plus.png');
							}
						}
					}
				}
				&--coupon {
					.benefit__item {
						margin: 0 auto;
						&:not(:first-child) {
							margin-top: 10px;
						}
					}
				}
			}
			&__discount {
				margin-top: 10px;
				font-size: 60px;
				line-height: 60px;
				.benefit__text {
					margin-top: 5px;
					font-size: 16px;
					line-height: 20px;
				}
			}
			&__condition {
				font-size: 16px;
				line-height: 18px;
			}
			&__button {
				margin-top: 30px;
			}
			&__link {
				font-size: 18px;
			}
		}
	}
	
	// tab
	.tab {
		&:not(:first-child) {
			margin-top: 80px;
		}
		&__list {
			display: flex;
			height: 54px;
			border-bottom: 1px solid #E0E0E0;
			&--round {
				height: 50px;
				border-bottom: 0;
				.tab__item {
					&:not(:first-child) {
						padding-left: 14px;
					}
				}
				.tab__item--active {
					.tab__button {
						background-color: #000;
						color: #fff;
						&:before {
							display: none;
						}
					}
				}
				.tab__button {
					align-items: center;
					border-radius: 25px;
					background-color: #fff;
					font-size: 24px;
					line-height: 32px;
				}
			}
		}
		&__item {
			flex: 1;
			height: 100%;
			&--active {
				.tab__button {
					color: #000;
					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						bottom: -1px;
						width: 100%;
						height: 6px;
						border-radius: 4px;
						background-color: #000;
					}
				}
			}
		}
		&__button {
			display: flex;
			justify-content: center;
			position: relative;
			height: 100%;
			color: #999;
			font-weight: 600;
			font-size: 30px;
			line-height: 30px;
			text-align: center;
			&:hover {
				text-decoration: none;
			}
		}
		&__panel {
			display: none;
			margin-top: 40px;
			&--greenlife {
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: calc(25.63vw + 220px);
					bottom: 0;
					width: 100%;
					background-color: #EDFBC0;
				}
				.tab__noti {
					display: flex;
					justify-content: center;
					align-items: center;
					max-width: 1000px;
					height: 96px;
					margin: 0 auto 30px;
					font-weight: 600;
				}
			}
			&--vividlife {
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: calc(25.63vw + 220px);
					bottom: 0;
					width: 100%;
					background-color: #FEEBAD;
				}
				.tab__noti {
					display: flex;
					justify-content: center;
					align-items: center;
					max-width: 1000px;
					height: 96px;
					margin: 0 auto 30px;
					font-weight: 600;
				}
			}
			&--gaminglife {
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: calc(25.63vw + 220px);
					bottom: 0;
					width: 100%;
					background-color: #FDB5B8;
				}
				.tab__noti {
					display: flex;
					justify-content: center;
					align-items: center;
					max-width: 1000px;
					height: 96px;
					margin: 0 auto 30px;
					font-weight: 600;
				}
			}
			&--workinglife {
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: calc(25.63vw + 220px);
					bottom: 0;
					width: 100%;
					background-color: #FCC2FB;
				}
				.tab__noti {
					display: flex;
					justify-content: center;
					align-items: center;
					max-width: 1000px;
					height: 96px;
					margin: 0 auto 30px;
					font-weight: 600;
				}
			}
			&--soundfullife {
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: calc(25.63vw + 220px);
					bottom: 0;
					width: 100%;
					background-color: #CCBBFF;
				}
				.tab__noti {
					display: flex;
					justify-content: center;
					align-items: center;
					max-width: 1000px;
					height: 96px;
					margin: 0 auto 30px;
					font-weight: 600;
				}
			}
		}
		&__noti {
			margin-bottom: 40px;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			.tab__bold {
				font-weight: 700;
			}
		}
		@media (max-width: 767px) {
			&:not(:first-child) {
				margin-top: 30px;
			}
			&__list {
				overflow-x: auto;
				overflow-y: hidden;
				height: 33px;
				margin: 0 -5.13vw;
				&--round {
					height: 36px;
					.tab__item {
						border-bottom: 0;
						&:not(:first-child) {
							padding-left: 10px;
						}
					}
					.tab__button {
						padding: 0 20px;
						font-size: 18px;
					}
				}
			}
			&__item {
				flex: none;
				&:not(:first-child) {
					padding-left: 24px;
				}
				&:first-child {
					padding-left: 5.13vw;
				}
				&:last-child {
					padding-right: 5.13vw;
				}
				&--active {
					.tab__button {
						&:before {
							height: 3px;
							border-radius: 5px;
						}
					}
				}
			}
			&__button {
				font-size: 20px;
				line-height: 1;
			}
			&__panel {
				margin-top: 20px;
				&--greenlife {
					margin-top: 10px;
					&:before {
						top: calc(38.465vw + 153px);
					}
					.tab__noti {
						max-width: none;
						height: 100px;
						margin: 0 auto 10px;
					}
				}
				&--vividlife {
					margin-top: 10px;
					&:before {
						top: calc(38.465vw + 153px);
					}
					.tab__noti {
						max-width: none;
						height: 100px;
						margin: 0 auto 10px;
					}
				}
				&--gaminglife {
					margin-top: 10px;
					&:before {
						top: calc(38.465vw + 153px);
					}
					.tab__noti {
						max-width: none;
						height: 100px;
						margin: 0 auto 10px;
					}
				}
				&--workinglife {
					margin-top: 10px;
					&:before {
						top: calc(38.465vw + 153px);
					}
					.tab__noti {
						max-width: none;
						height: 100px;
						margin: 0 auto 10px;
					}
				}
				&--soundfullife {
					margin-top: 10px;
					&:before {
						top: calc(38.465vw + 153px);
					}
					.tab__noti {
						max-width: none;
						height: 100px;
						margin: 0 auto 10px;
					}
				}
			}
			&__noti {
				margin-bottom: 20px;
				font-size: 16px;
				line-height: 22px;
			}
		}
	}

	// learn more
	.learn-more {
		display: flex;
		justify-content: center;
		&__link {
			display: inline-flex;
			align-items: center;
			&:hover {
				text-decoration: none;
			}
		}
		&__text {
			position: relative;
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 2px;
				width: 100%;
				height: 1px;
				background-color: #000;
			}
		}
		&__arrow {
			margin-left: 3px;
			@include iconAngle($direction: 'right', $width: 8px, $height: 16px, $thick: 1.5px, $color: #000, $display: block, $position: relative);
		}
		@media (max-width: 767px) {
			&__text {
				font-size: 14px;
			}
			&__arrow {
				display: none;
			}
		}
	}

	// highlight
	.highlight {
		display: inline-block;
		position: relative;
		z-index: 1;
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 4px;
			top: 0;
			right: 0;
			z-index: -1;
			height: 90%;
		}
		&--beige {
			&:before {
				background-color: #F5EEC8;
			}
		}
		&--lightblue {
			&:before {
				background-color: #C8D2FA;
			}
		}
		@media (min-width: 767px) {
			&--desktop {
				position: static;
				&:before {
					display: none;
				}
			}
		}
		@media (max-width: 767px) {
			&--mobile {
				position: static;
				&:before {
					display: none;
				}
			}
		}
	}

	// button
	.button {
		display: flex;
		justify-content: center;
		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;
			padding: 0 32px;
			border: 1px solid #000;
			border-radius: 30px;
			background-color: #000;
			color: #fff;
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
			text-decoration: none;
			cursor: pointer;
			&--red {
				border-color: #A50034;
				background-color: #A50034;
			}
			&--lightgray {
				border-color: #D0D0D0;
				background-color: #D0D0D0;
			}
			&--white {
				border-color: #fff;
				background-color: #fff;
				color: #000;
				box-shadow: 4px 10px 20px rgba(0,0,0,.1);
			}
		}
		@media (max-width: 767px) {
			&__item {
				height: 36px;
				padding: 0;
				font-size: 14px;
			}
		}
	}

	// break
	.break {
		&--desktop {
			display: block;
		}
		@media (max-width: 767px) {
			&--desktop {
				display: inline;
			}
			&--mobile {
				display: block;
			}
		}
	}

	// sticky
	.box_navigation {
		position: relative;
		top: -1px;
		height: 60px;
		background-color: #fff;
	}
	.box_navigation .box_nav-position {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 60px;
		background-color: #fff;
		border-bottom: 1px solid #cdcdcd;
		z-index: 30000;
		@media (max-width: 767px) {
			height: 50px;
		}
	}
	.box_navigation .box_nav-position.fixed {
		position: fixed
	}
	.box_navigation .box_navigation-inner {
		position: relative;
		max-width: 1600px;
		margin: 0 auto;
		z-index: 100;
		@media (max-width: 767px) {
			overflow-x: auto;
		}
	}
	.box_navigation .list_navigation {
		display: flex;
		width: 100%;
		justify-content: center;
		@media (max-width: 767px) {
			justify-content: flex-start;
		}
	}
	.box_navigation .list_navigation .list-item {
		flex: 0 1 480px;
		@media (max-width: 767px) {
			flex: none;
		}
	}
	.box_navigation .list_navigation .link {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 60px;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		white-space: nowrap;
		color: #999;
		line-height: 34px;
		@media (max-width: 767px) {
			height: 50px;
			padding: 0 18px;
			font-size: 14px;
			line-height: 28px;
		}
	}
	.box_navigation .list_navigation .link:hover {
		text-decoration: none;
		color: #000
	}
	.box_navigation .list_navigation .list-item.active .link {
		color: #000;
	}
	.box_navigation .list_navigation .list-item.active .link::after,
	.box_navigation .list_navigation .link:hover::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		height: 3px;
		background-color: #A50034
	}

	// slick
	.slick-slider {
		position: relative;
		display: block;
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-khtml-user-select: none;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
	}
	.slick-list {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	.slick-list:focus {
		outline: none;
	}
	.slick-list.dragging {
		cursor: pointer;
		cursor: hand;
	}
	.slick-slider .slick-track,
	.slick-slider .slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-track {
		position: relative;
		top: 0;
		left: 0;
		display: block;
		// margin-left: auto;
		// margin-right: auto;
	}
	.slick-track:before,
	.slick-track:after {
		display: table;
		content: '';
	}
	.slick-track:after {
		clear: both;
	}
	.slick-loading .slick-track {
		visibility: hidden;
	}
	.slick-slide {
		display: none;
		float: left;
		height: 100%;
		min-height: 1px;
	}
	[dir='rtl'] .slick-slide {
		float: right;
	}
	.slick-slide img {
		display: block;
	}
	.slick-slide.slick-loading img {
		display: none;
	}
	.slick-slide.dragging img {
		pointer-events: none;
	}
	.slick-initialized .slick-slide {
		display: block;
	}
	.slick-loading .slick-slide {
		visibility: hidden;
	}
	.slick-vertical .slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
	.slick-arrow.slick-hidden {
		display: none;
	}
	.slick-arrow {
		position: absolute;
		z-index: 10;
		top: 50%;
		width: 40px;
		height: 40px;
		margin-top: -20px;
		border: 0;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
		background-color: transparent;
		cursor: pointer;
	}
	.slick-prev {
		left: 1.88%;
		background-image: url('../images/btn_swiper_prev.png');
	}
	.slick-next {
		right: 1.88%;
		background-image: url('../images/btn_swiper_next.png');
	}
	.slick-disabled {
		opacity: 0.4;
	}
	.slick-dots {
		display: flex;
		justify-content: center;
		position: absolute;
		left: 0;
		bottom: 3.66%;
		z-index: 10;
		width: 100%;
		li {
			width: 12px;
			height: 12px;
			margin: 0 5px;
			@include transition(.2s, ease);
			&.slick-active {
				width: 25px;
				button {
					background-color: #fff;
				}
			}
			button {
				display: block;
				width: 100%;
				height: 100%;
				padding: 0;
				border: 1.5px solid #fff;
				border-radius: 6px;
				background-color: rgba(0,0,0,.3);
				outline: none;
				font-size: 0;
				line-height: 0;
				cursor: pointer;
			}
		}
		@media (max-width: 767px) {
			li {
				width: 8px;
				height: 8px;
			}
		}
	}
}