@charset "UTF-8";
@import "mixins";

.lgmembersweek {
	// visual
	.visual {
		&__slide {
			&--intro {
				.section__inner {
					background-image: url('../images/it/bg_visual_intro_obj.png');
				}
			}
			&--greenlife {
				.section__inner {
					background-image: url('../images/it/bg_visual_greenlife_obj.png');
				}
			}
			&--vividlife {
				.section__inner {
					background-image: url('../images/it/bg_visual_vividlife_obj.png');
				}
			}
			&--gaminglife {
				.section__inner {
					background-image: url('../images/it/bg_visual_gaminglife_obj.png');
				}
			}
			&--workinglife {
				.section__inner {
					background-image: url('../images/it/bg_visual_workinglife_obj.png');
				}
			}
			&--soundfullife {
				.section__inner {
					background-image: url('../images/it/bg_visual_soundfullife_obj.png');
				}
			}
		}
		@media (max-width: 767px)  {
			&__slide {
				&--intro {
					.section__inner {
						background-image: url('../images/it/m_bg_visual_intro.png');
					}
				}
				&--greenlife {
					.section__inner {
						background-image: url('../images/it/m_bg_visual_greenlife.png');
					}
				}
				&--vividlife {
					.section__inner {
						background-image: url('../images/it/m_bg_visual_vividlife.png');
					}
				}
				&--gaminglife {
					.section__inner {
						background-image: url('../images/it/m_bg_visual_gaminglife.png');
					}
				}
				&--workinglife {
					.section__inner {
						background-image: url('../images/it/m_bg_visual_workinglife.png');
					}
				}
				&--soundfullife {
					.section__inner {
						background-image: url('../images/it/m_bg_visual_soundfullife.png');
					}
				}
			}
		}
	}

	// benefit
	.benefit {
		&__list {
			&--coupon {
				.benefit__item {
					@for $i from 1 through 4 {
						&:nth-child(#{ $i }) {
							> .benefit__inner {
								&:after {
									background-image: url('../images/it/ico_benefit_list0#{$i}.png');
								}
							}
						}
					}
				}
			}
		}
		&__discount {
			.benefit__text {
				&:first-of-type {
					margin-top: 20px;
				}
			}
		}
		@media (max-width: 767px) {
			&__discount {
				.benefit__text {
					&:first-of-type {
						margin-top: 10px;
					}
				}
			}
		}
	}

	// product
	.product {
		&--hotdeal {
			.product__item {
				@for $i from 1 through 6 {
					&:nth-child(#{ $i }) {
						.hotdeal_bg {
							background-image: url('../images/it/bg_hotdeal0#{$i}.png');
							&.hotdeal_soldout {
								background-image: url('../images/hotdeal_bg02.png');
							}
						}
					}
				}
			}
			.product__name {
				height: auto;
				min-height: 74px;
				font-size: 17px;
				line-height: 20px;
				@include ellipse(4);
			}
			.slick-prev {
				background-image: url('../images/btn_swiper_prev.png');
			}
			.slick-next {
				background-image: url('../images/btn_swiper_next.png');
			}
		}
		&__showroom {
			&--greenlife {
				.product__slide {
					@for $i from 1 through 2 {
						&:nth-child(#{ $i }) {
							background-image: url('../images/it/bg_product_showroom_greenlife0#{$i}.png');
						}
					}
					&:nth-child(1) {
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
							&:nth-child(2) {
								left: 78.38%;
								top: 62.68%;
								.product__target {
									left: auto;
									right: 32px;
									top: -44px;
									margin-left: 0;
									padding-right: 20px;
									&:before {
										left: auto;
										right: 10px;
										top: 43px;
										margin-right: 0;
										border-right: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-left: 20px solid #fff;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 45px;
										margin-top: 0;
									}
								}
							}
							&:nth-child(2) {
								.product__target {
									top: -44px;
									&:before {
										top: 45px;
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
			&--vividlife {
				.tab__noti {max-width: 1200px;}
				.product__slide {
					@for $i from 1 through 2 {
						&:nth-child(#{ $i }) {
							background-image: url('../images/it/bg_product_showroom_vividlife0#{$i}.png');
						}
					}
					&:nth-child(1) {
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
							&:nth-child(2) {
								.product__target {
									left: 32px;
									top: -44px;
									margin-left: 0;
									padding-left: 20px;
									&:before {
										left: 10px;
										top: 46px;
										margin-left: 0;
										margin-top: 0;
										border-left: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-right: 20px solid #fff;
									}
								}
							}
						}
					}
				}
			}
			&--gaminglife {
				.tab__noti {max-width: 1200px;}
				.product__slide {
					&:nth-child(1) {
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
							&:nth-child(2) {
								.product__target {
									left: 32px;
									top: -44px;
									margin-left: 0;
									padding-left: 20px;
									&:before {
										left: 10px;
										top: 46px;
										margin-left: 0;
										margin-top: 0;
										border-left: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-right: 20px solid #fff;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						background-image: url('../images/it/bg_product_showroom_gaminglife02.png');
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
			&--workinglife {
				.product__slide {
					&:nth-child(1) {
						background-image: url('../images/it/bg_product_showroom_workinglife01.png');
						.product__layer {
							&:nth-child(3) {
								top: 30%;
								left: 25%;
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						background-image: url('../images/it/bg_product_showroom_workinglife02.png');
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
			&--soundfullife {
				.tab__noti {max-width: 1200px;}
				.product__slide {
					&:nth-child(1) {
						background-image: url('../images/it/bg_product_showroom_soundfullife01.png');
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
		}
		&__swiper {
			.product__name {
				height: auto;
				min-height: 74px;
				font-size: 16px;
				line-height: 18px;
				@include ellipse(4);
			}
		}
		@media (max-width: 767px) {
			&__showroom {
				&--greenlife {
					.product__slide {
						@for $i from 1 through 2 {
							&:nth-child(#{ $i }) {
								background-image: url('../images/it/m_bg_product_showroom_greenlife0#{$i}.png');
							}
						}
					}
				}
				&--vividlife {
					.product__slide {
						@for $i from 1 through 2 {
							&:nth-child(#{ $i }) {
								background-image: url('../images/it/m_bg_product_showroom_vividlife0#{$i}.png');
							}
						}
					}
				}
				&--gaminglife {
					.product__slide {
						&:nth-child(2) {
							background-image: url('../images/it/m_bg_product_showroom_gaminglife02.png');
						}
					}
				}
				&--workinglife {
					.product__slide {
						&:nth-child(1) {
							background-image: url('../images/it/m_bg_product_showroom_workinglife01.png');
						}
						&:nth-child(2) {
							background-image: url('../images/it/m_bg_product_showroom_workinglife02.png');
						}
					}
				}
				&--soundlife {
					.product__slide {
						&:nth-child(1) {
							background-image: url('../images/it/m_bg_product_showroom_soundfullife01.png');
						}
					}
				}
			}
			&__price {
				flex-direction: column;
			}
		}
	}

	@media (max-width: 767px) {
		#box_content3 {
			.product {
				.button {
					display: block;
					.button__item {
						margin-left: 0 !important;
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	
}