@charset "UTF-8";
@import "mixins";

.lgmembersweek {

	// visual
	.visual {
		&__slide {
			&--intro {
				.section__inner {
					background-image: url('../images/de/bg_visual_intro_obj.png');
				}
			}
			&--greenlife {
				.section__inner {
					background-image: url('../images/de/bg_visual_greenlife_obj.png');
				}
			}
			&--vividlife {
				.section__inner {
					background-image: url('../images/de/bg_visual_vividlife_obj.png');
				}
			}
			&--gaminglife {
				.section__inner {
					background-image: url('../images/de/bg_visual_gaminglife_obj.png');
				}
			}
			&--workinglife {
				.section__inner {
					background-image: url('../images/de/bg_visual_workinglife_obj.png');
				}
			}
			&--soundfullife {
				.section__inner {
					background-image: url('../images/de/bg_visual_soundfullife_obj.png');
				}
			} 
		}
		@media (max-width: 767px)  {
			&__slide {
				&--intro {
					.section__inner {
						background-image: url('../images/de/m_bg_visual_intro.png');
					}
				}
				&--greenlife {
					.section__inner {
						background-image: url('../images/de/m_bg_visual_greenlife.png');
					}
				}
				&--vividlife {
					.section__inner {
						background-image: url('../images/de/m_bg_visual_vividlife.png');
					}
				}
				&--gaminglife {
					.section__inner {
						background-image: url('../images/de/m_bg_visual_gaminglife.png');
					}
				}
				&--workinglife {
					.section__inner {
						background-image: url('../images/de/m_bg_visual_workinglife.png');
					}
				}
				&--soundfullife {
					.section__inner {
						background-image: url('../images/de/m_bg_visual_soundfullife.png');
					}
				}
				.section__title {
					font-size: 48px;
					line-height: 50px;
				}
			}
		}
	}

	// coupon
	.coupon {
		&__process {
			> .coupon__group {
				padding-top: 54px;
			}
			.coupon__order {
				> li {
					&:not(:nth-child(2)) {
						.coupon__text {
							margin-top: 10px;
						}
					}
				}
				.coupon__text {
					top: -54px;
				}
			}
		}
		@media (max-width: 767px) {
			&__process {
				> .coupon__group {
					padding-left: 44px;
					&:before {
						left: 31px;
					}
				}
				.coupon__build {
					width: 100px;
					text-align: right;
				}
				.coupon__order {
					> li {
						&:not(:nth-child(2)) {
							.coupon__text {
								margin-top: 0;
							}
						}
						&:nth-child(2) {
							align-items: baseline;
						}
					}
				}
			}
		}
	}

	// benefit
	.benefit {
		&__discount {
			.benefit__text {
				&:first-of-type {
					margin-top: 10px;
				}
			}
		}

		@media (max-width: 767px) {
			&__button {
				.benefit__link {
					height: auto;
					padding-top: 5px;
					padding-bottom: 5px;
					line-height: 22px;
				}
			}
		}
	}

	@media (max-width: 767px) {
		.benefit__list--coupon {
			.benefit__category {
				font-size:21px;
			}
		}
	}

	// product
	.product {
		&--hotdeal {
			.product__list {
				.slick-list {
					max-width: 1080px;
				}
			}
			.product__item {
				min-width: 240px;
				max-width: 240px;
				@for $i from 1 through 4 {
					&:nth-child(#{ $i }) {
						.hotdeal_bg {
							background-image: url('../images/de/bg_hotdeal0#{$i}.png');
							&.hotdeal_soldout {
								background-image: url('../images/de/hotdeal_bg02.png');
							}
						}
					}
				}
			}
			.product__flags {
				top: 10px;
			}
			.product__img {
				height: 240px;
				img {
					bottom: 25px;
				}
			}
			.hotdeal_bg {
				left: 0;
				height: 240px;
			}
		}
		&__showroom {
			&--greenlife {
				.product__slide {
					@for $i from 1 through 2 {
						// &:nth-child(#{ $i }) {
						// 	background-image: url('../images/de/bg_product_showroom_greenlife0#{$i}.png');
						// }
					}
					&:nth-child(1) {
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
							&:nth-child(2) {
								left: 78.38%;
								top: 62.68%;
								.product__target {
									left: auto;
									right: 32px;
									top: -44px;
									margin-left: 0;
									padding-right: 20px;
									&:before {
										left: auto;
										right: 10px;
										top: 43px;
										margin-right: 0;
										border-right: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-left: 20px solid #fff;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						.product__layer {
							&:nth-child(1) {
								left: 73.13%;
								top: 19.51%;
								.product__target {
									left: 32px;
									top: -49px;
									margin-left: 0;
									padding-left: 20px;
									&:before {
										left: 10px;
										top: 50%;
										right: auto;
										margin-left: 0;
										margin-top: -15px;
										border-left: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-right: 20px solid #fff;
									}
								}
							}
							// &:nth-child(2) {
							// 	.product__target {
							// 		top: -44px;
							// 		&:before {
							// 			top: 45px;
							// 			margin-top: 0;
							// 		}
							// 	}
							// }
						}
					}
				}
			}
			&--vividlife {
				.product__slide {
					@for $i from 1 through 2 {
						&:nth-child(#{ $i }) {
							background-image: url('../images/de/bg_product_showroom_vividlife0#{$i}.png');
						}
					}
					&:nth-child(1) {
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
							&:nth-child(2) {
								.product__target {
									left: 32px;
									top: -44px;
									margin-left: 0;
									padding-left: 20px;
									&:before {
										left: 10px;
										top: 46px;
										margin-left: 0;
										margin-top: 0;
										border-left: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-right: 20px solid #fff;
									}
								}
							}
						}
					}
				}
			}
			&--gaminglife {
				.product__slide {
					&:nth-child(1) {
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						background-image: url('../images/de/bg_product_showroom_gaminglife02.png');
						.product__layer {
							&:nth-child(1) {
								left: 58.81%;
								top: 14.63%;
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
							&:nth-child(2) {
								left: 81.25%;
								top: 53.66%;	
							}
						}
					}
				}
			}
			&--workinglife {
				.product__slide {
					&:nth-child(1) {
						.product__layer {
							&:nth-child(3) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
							&:nth-child(4) {
								left: 25.38%;
								top: 32.93%;
								.product__target {
									left: auto;
									right: 32px;
									top: -44px;
									margin-left: 0;
									margin-top: 0;
									padding-right: 20px;
									&:before {
										left: auto;
										right: 10px;
										top: 46px;
										margin-right: 0;
										border-right: 0;
										border-top: 15px solid transparent;
										border-bottom: 15px solid transparent;
										border-left: 20px solid #fff;
									}
								}
							}
						}
					}
					&:nth-child(2) {
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
			&--soundfullife {
				.product__slide {
					padding-top: 51.250%;
					// &:nth-child(1) {
					// 	.product__layer {
					// 		&:nth-child(1) {
					// 			.product__target {
					// 				top: -44px;
					// 				&:before {
					// 					top: 46px;
					// 					margin-top: 0;
					// 				}
					// 			}
					// 		}
					// 	}
					// }
					&:nth-child(2) {
						background-image: url('../images/de/bg_product_showroom_soundfullife02.png');
						.product__layer {
							&:nth-child(1) {
								.product__target {
									top: -44px;
									&:before {
										top: 46px;
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
		}
		@media (max-width: 767px) {
			&--hotdeal {
				.product__item {
					width: 220px;
					min-width: 0;
					max-width: none;
				}
				.product__img {
					height: 220px;
				}
				.hotdeal_bg {
					height: 220px;
				}
			}
			&__showroom {
				&--greenlife {
					.product__slide {
						&:nth-child(2) {
							background-image: url('../images/de/m_bg_product_showroom_greenlife02.png');
						}
					}
				}
				&--vividlife {
					.product__slide {
						@for $i from 1 through 2 {
							&:nth-child(#{ $i }) {
								background-image: url('../images/de/m_bg_product_showroom_vividlife0#{$i}.png');
							}
						}
					}
				}
				&--gaminglife {
					.product__slide {
						&:nth-child(2) {
							background-image: url('../images/de/m_bg_product_showroom_gaminglife02.png');
						}
					}
				}
				&--soundfullife {
					.product__slide {
						&:nth-child(2) {
							background-image: url('../images/de/m_bg_product_showroom_soundfullife02.png');
						}
					}
				}
			}
		}
		@media (min-width: 768px) and (max-width: 1600px) {
			&--hotdeal {
				.product__list {
					.slick-list {
						max-width: 1080px;
					}
					.slick-prev {
						left: 0;
					}
					.slick-next {
						right: 0;
					}
				}
			}
		}
		@media (min-width: 1600px) {
			&--hotdeal {
				.product__list {
					.slick-prev {
						left: 8.75%;
					}
					.slick-arrow {
						right: 8.75%;
					}
				}
			}
		}
	}

	.product__price-now {
		height: 45px
	}
	@media (max-width: 767px) {
		.product__price {
			height: 49px;
		}
		.product__price-now {
			height: 30px;
		}
	}
	

	@media (max-width: 767px) {
		.product>.button {
			display: block;
			.button__item {
				margin-left: 0 !important;
				margin-bottom: 10px;
			}
		}
	}
}