@charset "UTF-8";
@import "mixins";

.lgmembersweek {
	color: #000;
	figure {
		margin: 0;
	}
	p {
		margin: 0;
	}

	// section
	.section {
		&__container {
			padding: 6.25% 0;
			&--lightgray {
				background-color: #F5F4F6;
			}
		}
		&__inner {
			max-width: 1600px;
			margin: 0 auto;
			padding: 0 1.04%;
		}
		&__header {
			text-align: center;
		}
		&__title {
			font-weight: 700;
			font-size: 60px;
			line-height: 60px;
		}
		&__sub {
			margin-top: 10px;
			font-weight: 600;
			font-size: 24px;
			line-height: 32px;
		}
	}

	// coupon
	.coupon {
		&:not(:first-child) {
			margin-top: 50px;
		}
		&__process {
			text-align: center;
			> .coupon__group {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				position: relative;
				padding-top: 40px;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: 14px;
					width: 100%;
					height: 2px;
					background: linear-gradient(to right, transparent 50%, #000 50%);
					background-size: 6px 2px;
				}
			}
			.coupon__build {
				display: block;
				position: relative;
				font-weight: 700;
				font-size: 16px;
				line-height: 16px;
				background-color: #F5F4F6;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					width: 10px;
					height: 10px;
					margin-top: -5px;
					border-radius: 50%;
					background-color: #7E7E7E;
				}
				&:first-child {
					padding-right: 20px;
					&:before {
						right: 0;
					}
				}
				&:last-child {
					padding-left: 20px;
					&:before {
						left: 0;
					}
				}
			}
			.coupon__order {
				display: flex;
				justify-content: space-around;
				width: 612px;
				font-weight: 700;
				font-size: 16px;
				line-height: 16px;
				> li {
					position: relative;
				}
				.coupon__num {
					display: inline-flex;
					justify-content: center;
					align-items: center;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					background-color: #000;
					color: #fff;
					font-weight: 700;
					font-size: 16px;
					line-height: 16px;
					text-align: center;
				}
				.coupon__text {
					position: absolute;
					white-space: nowrap;
					left: 50%;
					top: -40px;
					@include translate(-50%, 0);
				}
			}
		}
		&__list {
			display: flex;
			&:not(:first-child) {
				margin-top: 80px;
			}
		}
		&__item {
			flex: 1;
			position: relative;
			border-radius: 30px;
			background-repeat: no-repeat;
			background-position: 50% 0;
			background-color: #fff;
			box-shadow: 4px 6px 12px rgba(0, 0, 0, .08);
			&:not(:first-child) {
				margin-left: 1.92%;
			}
			&:focus,
			&:hover {
				.coupon__back {
					z-index: 5;
				}
			}
			&--greenlife {
				.coupon__thumnail {
					background-image: url('../images/bg_coupon_greenlife.png');
				}
			}
			&--vividlife {
				.coupon__thumnail {
					background-image: url('../images/bg_coupon_vividlife.png');
				}
			}
			&--gaminglife {
				.coupon__thumnail {
					background-image: url('../images/bg_coupon_gaminglife.png');
				}
			}
			&--workinglife {
				.coupon__thumnail {
					background-image: url('../images/bg_coupon_workinglife.png');
				}
			}
			&--soundfullife {
				.coupon__thumnail {
					background-image: url('../images/bg_coupon_soundfullife.png');
				}
			}
			input[type="radio"] {
				&:checked {
					& + .coupon__back {
						z-index: 5;
						&:before {
							display: block;
						}
						.coupon__ico {
							background-color: #000;
						}
					}
				}
			}
		}
		&__front {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 30px;
			.coupon__thumnail {
				display: block;
				position: relative;
				z-index: 1;
				height: 74.54%;
				border-radius: 32px 32px 0 0;
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: cover;
			}
			.coupon__category {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 25.46%;
				font-weight: 600;
				font-size: 30px;
				line-height: 30px;
				text-align: center;
			}
		}


		.button__container {
			&:not(:first-child) {
				margin-top: 80px;
			}
		}
		.button__item {
			width: 160px;
			height: 60px;
			&:not(:first-child) {
				margin-left: 10px;
			}
		}
	}







	
	.coupon__back {
		display: block;
		position: relative;
		z-index: -1;
		margin: 0;
		padding: 16.89% 6.76% 13.51%;
		background-color: #fff;
		border-radius: 30px;
		cursor: pointer;
		&:before {
			content: '';
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 30px;
			border: 2px solid #000;
		}
		.product {
			display: block;
		}
		.product__img {
			display: block;
			padding: 0 10.94%;
		}
		.product__info {
			display: block;
		}
		.product__category {
			display: block;
			color: #999;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
		}
		.product__name {
			font-size: 24px;
			line-height: 32px;
		}
		.coupon__ico {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-top: 40px;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background-color: #E0E0E0;
		}
	}

	// product
	.product--hotdeal {
		&:not(:first-child) {
			margin-top: 55px;
		}
		.product__list {
			justify-content: center;
			margin: 0;
		}
		.product__item {
			flex: 1 1 0%;
			width: auto;
			max-width: 240px;
			margin: 0;
			padding: 0;
			border-radius: 0;
			background-color: transparent;
			&:not(:first-child) {
				margin-left: 8.97%;
			}
		}
		.product__flags {
			left: 0;
			top: 30px;
		}
		.product__info {
			margin-top: 0;
		}
		.product__price {
			display: block;
			margin-top: 5px;
		}
		.product__cost {
			display: block;
			margin-left: 0;
			margin-bottom: 2px;
		}
		.product__discount {
			margin-right: 0;
		}
		.product__members {
			margin-top: 7px;
		}
	}
	.product {
		.button__container {
			&:not(:first-child) {
				margin-top: 20px;
			}
		}

		.button__item {
			flex: 1;
		}

		.learn-more {
			&:not(:first-child) {
				margin-top: 16px;
			}
		}
	}
	.product__showroom {
		.product__slide {
			height: 42.71vw;
		}
	}
	.product__swiper {
		max-width: 1367px;
		margin: 0 auto;
		&:not(:first-child) {
			margin-top: 40px;
		}
		.product__slide {
			margin: 0 1.183%;
		}
		.product__item {
			width: auto;
			margin: 0;
			padding: 0;
			border-radius: 0;
			background-color: transparent;
		}
		.slick-list {
			margin: 0 -1.183%;
		}
		.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 10;
			width: 60px;
			height: 60px;
			margin-top: -30px;
			border: 0;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100% 100%;
			background-color: transparent;
		}
		.slick-prev {
			left: -7.06%;
			background-image: url('../images/btn_product_swiper_prev.png');
		}
		.slick-next {
			right: -7.06%;
			background-image: url('../images/btn_product_swiper_next.png');
		}
		.slick-disabled {
			opacity: 0.4;
		}
	}
	.product__list {
		display: flex;
		flex-wrap: wrap;
		margin: -2.56% 0 0 -2.56%;
	}
	.product__item {
		flex: none;
		width: calc(100% / 4 - 2.56%);
		position: relative;
		padding: 20px 30px 30px;
		border-radius: 30px;
		background-color: #fff;
		margin: 2.56% 0 0 2.56%;
	}
	.product__img {
		img {
			max-width: 100%;
		}
	}
	.product__flags {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		top: 10px;
		left: -7px;
	}
	.product__flag {
		display: flex;
		flex: 0 0 auto;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 18px;
		padding: 0 9px;
		border-radius: 2px 2px 2px 0;
		background-color: #333;
		color: #fff;
		font-weight: 700;
		font-size: 13px;
		line-height: 15px;
		text-align: center;
		box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: -8px;
			border-top: 8px solid #000;
			border-left: 8px solid transparent;
		}
		&:not(:first-child) {
			margin-top: 3px;
		}
	}
	.product__name {
		display: block;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
	}
	.product__sn {
		font-size: 16px;
		line-height: 22px;
	}
	.product__info {
		margin-top: 20px;
		text-align: center;
		.product__highlight {
			color: #A50034;
			font-size: 16px;
			line-height: 22px;
		}
	}
	.product__price {
		display: inline-flex;
		align-items: center;
	}
	.product__cost {
		margin-left: 5px;
		font-weight: 700;
		font-size: 34px;
		line-height: 40px;
	}
	.product__discount {
		margin-right: 4px;
		color: #999;
		font-size: 16px;
		line-height: 22px;
		text-decoration: line-through;
	}
	.product__members {
		margin-top: 2px;

		.product__text {
			font-size: 16px;
			line-height: 22px;
		}
	}

	.tab__panel--vividlife {
		.product__showroom {
			.product__slide {
				border-radius: 30px;
				background-position: 50% 50%;
				background-size: cover;
				&:nth-child(1) {
					background-image: url('../images/img_vividlife_product_showroom01.png');
				}
			}
		}
	}

	// learn more
	.learn-more {
		display: flex;
		justify-content: center
	}
	.learn-more__link {
		display: inline-flex;
		align-items: center;
		&:hover {
			text-decoration: none;
		}
		.learn-more__text {
			position: relative;
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 3px;
				right: 3px;
				bottom: 0;
				height: 1px;
				background-color: #000;
			}
		}
		.learn-more__arrow {
			margin-left: 3px;
			@include iconAngle($direction: 'right', $width: 8px, $height: 16px, $thick: 1.5px, $color: #000, $display: block, $position: relative);
		}
	}

	// highlight
	.highlight {
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 4px;
			top: 0;
			right: -2px;
			z-index: -1;
			height: 90%;
		}
	}
	.highlight--beige {
		&:before {
			background-color: #F5EEC8;
		}
	}
	.highlight--lightblue {
		&:before {
			background-color: #C8D2FA;
		}
	}

	// button
	.button__container {
		display: flex;
		justify-content: center;
	}
	.button__item {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		border: 1px solid #000;
		border-radius: 30px;
		background-color: #000;
		color: #fff;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		text-decoration: none;
		cursor: pointer;
	}
	.button__item--red {
		border-color: #A50034;
		background-color: #A50034;
	}
	.button__item--lightgray {
		border-color: #D0D0D0;
		background-color: #D0D0D0;
	}

	// sticky
	.box_navigation {
		position: relative;
		top: -1px;
		height: 60px;
		background-color: #fff;
	}
	.box_navigation .box_nav-position {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 60px;
		background-color: #fff;
		border-bottom: 1px solid #cdcdcd;
		z-index: 30000;
	}
	.box_navigation .box_nav-position.fixed {
		position: fixed
	}
	.box_navigation .box_navigation-inner {
		position: relative;
		max-width: 1600px;
		margin: 0 auto;
		z-index: 100;
	}
	.box_navigation .list_navigation {
		display: flex;
		width: 100%;
		justify-content: center;
	}
	.box_navigation .list_navigation .list-item {
		flex: 1 1 0%;
		max-width: 480px;
	}
	.box_navigation .list_navigation .link {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 60px;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		white-space: nowrap;
		color: #999;
		line-height: 34px;
	}
	.box_navigation .list_navigation .link:hover {
		text-decoration: none;
		color: #000
	}
	.box_navigation .list_navigation .list-item.active .link {
		color: #000;
	}
	.box_navigation .list_navigation .list-item.active .link::after,
	.box_navigation .list_navigation .link:hover::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		height: 3px;
		background-color: #A50034
	}

	// slick
	.slick-slider {
		position: relative;
		display: block;
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-khtml-user-select: none;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
	}
	.slick-list {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	.slick-list:focus {
		outline: none;
	}
	.slick-list.dragging {
		cursor: pointer;
		cursor: hand;
	}
	.slick-slider .slick-track,
	.slick-slider .slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-track {
		position: relative;
		top: 0;
		left: 0;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.slick-track:before,
	.slick-track:after {
		display: table;
		content: '';
	}
	.slick-track:after {
		clear: both;
	}
	.slick-loading .slick-track {
		visibility: hidden;
	}
	.slick-slide {
		display: none;
		float: left;
		height: 100%;
		min-height: 1px;
	}
	[dir='rtl'] .slick-slide {
		float: right;
	}
	.slick-slide img {
		display: block;
	}
	.slick-slide.slick-loading img {
		display: none;
	}
	.slick-slide.dragging img {
		pointer-events: none;
	}
	.slick-initialized .slick-slide {
		display: block;
	}
	.slick-loading .slick-slide {
		visibility: hidden;
	}
	.slick-vertical .slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
	.slick-arrow.slick-hidden {
		display: none;
	}
}